/*global start*/
li {
  list-style: none;
}

body {
  font-family: "Barlow";
}

a,
button {
  font-family: "Barlow";
}

p {
  color: #0C0B0B;
  font-size: 17px;
  line-height: 25px;
}
@media screen and (max-width: 1024px) {
  p {
    font-size: 16px;
    line-height: 19px;
  }
}

h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 75px;
  color: #fff;
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media screen and (max-width: 575px) {
  h1 {
    font-size: 27px;
    line-height: 55px;
  }
}

h2 {
  font-size: 60px;
  line-height: 75px;
  font-weight: 500;
}
@media screen and (max-width: 575px) {
  h2 {
    font-size: 25px;
    line-height: 40px;
  }
}

h3 {
  font-size: 25px;
  color: #29d9d5;
  line-height: 30px;
}
@media screen and (max-width: 1024px) {
  h3 {
    font-size: 19px;
    line-height: 30px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: "Barlow";
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  color: inherit;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

/*global end*/
/*header start*/
header.site-header {
  background: #0C0B0B;
  font-size: 18px;
  padding: 14px 0;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  transition: 0.3s;
}

header.site-header.sticky {
  background: #0C0B0B;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  position: fixed;
}

.site-header .site-nav ul li a.active {
  color: #29d9d5;
  position: relative;
}

.site-logo img {
  width: 100%;
  max-width: 300px;
}

.site-nav a {
  padding: 8px 12px !important;
  display: inline-block;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase !important;
  transition: all 0.2s linear;
}
.site-nav a:hover {
  color: #29d9d5;
  border-bottom: 1px solid #fff;
}

.site-header {
  padding: 10px 0;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav ul {
  display: flex;
  align-items: center;
}

.closed-menu {
  display: none;
}

.menu-toggle {
  display: none !important;
}

/*header end*/
/*banner-css-start*/
section.home__banner {
  position: relative;
  height: 450px;
  background-image: url(../images/homebanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 90px;
}
section.home__banner::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  height: 100%;
  z-index: 0;
}

.home__bannertext {
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.home__bannertext p {
  color: #fff;
}

/*banner-css-end*/
/*toptext-css-start*/
.toptext__content {
  padding: 50px 0;
}

.homecard__body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*toptext-css-start*/
.homecard__content {
  padding: 10px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  text-align: justify;
  height: 100%;
  transition: 0.3s;
}
.homecard__content:hover {
  transform: translateY(-10px);
}

.cardspace {
  margin: 20px 0;
}

/*homecard-css-end*/
/*hotels-policy-start*/
section.hotels__banner {
  position: relative;
  height: 300px;
  background-image: url(../images/hotelsbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 90px;
}
section.hotels__banner::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  height: 100%;
  z-index: 0;
}

section.hotels__main {
  padding: 50px 0;
}

.row.htlcard {
  padding: 50px 0;
  display: -webkit-flex;
}

.hotel__flex {
  display: flex;
  gap: 20px;
}
.hotelcard__body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.hotelcard__body img {
  max-width: 50px;
}
.hotelcard__picture img {
  transition: 0.3s;
}
.hotelcard__picture img:hover {
  transform: translateY(-10px);
}
.hotelcard__content {
  padding: 20px 0;
}

img.small.img-fluid {
  max-width: 250px;
}

img.big.img-fluid {
  max-width: 250px;
  padding-top: 60px;
}

.hotels__para.index {
  padding: 30px 0;
}

/*hotels-css-end*/
/*cuisine-css-start*/
section.cuisine__banner {
  position: relative;
  height: 300px;
  background-image: url(../images/cuisinebanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 90px;
}
section.cuisine__banner::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  z-index: 0;
}

section.cuisine__main {
  padding: 0;
}

.cuisine__text {
  padding: 50px 0;
  text-align: justify;
}
.cuisine-btn a {
  display: inline-block;
  background: #29d9d5;
  padding: 14px 20px;
  border-radius: 7px;
  font-size: 16px;
}
.cuisine-btn a:hover {
  color: #29d9d5;
  background: #0C0B0B;
}
.cuisine__picture {
  position: relative;
}
.cuisine__picture img {
  height: 416px;
  object-fit: cover;
}
.cuisine__picture::after {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.71);
  height: 100%;
  width: 100%;
  content: "";
}
.cuisine__body {
  position: relative;
  overflow: hidden;
}
.cuisine__part {
  position: absolute;
  width: 100%;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 40px;
}
.cuisine__part p {
  color: #fff;
  margin: 20px 0;
  width: 100%;
}
.cuisine__part h3 {
  font-weight: 600;
}
.cuisine__part h4 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 0;
}

.row.cuisine-space {
  margin-top: 30px;
}

.cuisine__body {
  transition: all 0.3s linear;
}

.cuisine__body:hover .cuisine__picture img {
  transform: scale(1.5);
}

.cuisine__picture img {
  height: 416px;
  object-fit: cover;
  transition: all 0.3s linear;
}

.cuisine__picture {
  overflow: hidden;
}

/*cuisine-css-end*/
/*entertainment-css-start*/
section.entertainment__banner {
  position: relative;
  height: 300px;
  background-image: url(../images/entertainmentbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 90px;
}
section.entertainment__banner::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  height: 100%;
  z-index: 0;
}

section.entertainment__main {
  padding: 50px 0;
}

/*entertainment-css-end*/
/*about-css-start*/
section.about__banner {
  position: relative;
  height: 300px;
  background-image: url(../images/aboutbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 90px;
}
section.about__banner::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  height: 100%;
  z-index: 0;
}

.col-lg-6.col-md-6.col-sm-12.aboutspace {
  display: -webkit-flex;
}

section.about__main {
  padding: 50px 0;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/*about-css-end*/
/*contact-css-start*/
section.contact__main {
  padding: 50px 0;
}

section.contact__banner {
  position: relative;
  height: 300px;
  background-image: url(../images/contactbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 90px;
}
section.contact__banner::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  height: 100%;
  z-index: 0;
}

.contact__content span {
  color: #29d9d5;
  font-size: 18px;
}

.about_us_content {
  background-color: #fff;
  padding: 2rem;
  margin: 30px 0;
  width: 50%;
}

.form-group {
  margin-bottom: 2rem;
}

.input-control {
  display: block;
  width: 100%;
  height: 4rem;
  border: 1px solid #29d9d5;
  padding: 2rem 2rem;
  background: transparent;
  color: #0C0B0B;
}

textarea.input-control {
  resize: none;
  height: auto;
}

.form-group .submit-btn {
  background: transparent;
  border: 1px solid #29d9d5;
  transition: all 0.2s linear;
  display: inline-block;
  padding: 0.8rem 4rem;
  color: #fff;
  text-transform: capitalize;
}
.form-group .submit-btn:hover {
  background-color: #29d9d5;
}

.input-control:focus-visible {
  outline: none;
}

.form-group label {
  display: inline-block;
  padding-bottom: 5px;
  color: #29d9d5;
  transition: all 0.2s linear;
  text-transform: capitalize;
}

button.submit-btn {
  color: #29d9d5 !important;
}
button.submit-btn:hover {
  background-color: #29d9d5;
  color: #fff !important;
}

/*contact-css-end*/
/*terms-condions-start*/
section.terms__main {
  padding: 50px 0;
}

section.terms__section {
  padding: 50px 0;
}

section.terms__banner {
  position: relative;
  height: 300px;
  background-image: url(../images/termsconditionbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  object-fit: cover;
  margin-top: 90px;
}
section.terms__banner::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  height: 100%;
  z-index: 0;
}

/*terms-condions-css-end*/
/*privacy-policy-start*/
section.privacy__main {
  padding: 50px 0;
}

section.privacy__section {
  padding: 50px 0;
}

section.privacy__banner {
  position: relative;
  height: 300px;
  background-image: url(../images/privacypolicybanner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 90px;
}
section.privacy__banner::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  height: 100%;
  z-index: 0;
}

/*privacy-policy-css-end*/
/*footer-css-start*/
.footer {
  background: #0C0B0B;
  padding: 50px 0;
  font-family: "Poppins", sans-serif;
}
.footer__logo img {
  max-width: 170px;
}
.footer__up a {
  color: #0C0B0B;
}
.footer__about p {
  font-size: 14px;
  color: #fff;
  text-align: left;
  line-height: 24px;
  max-width: 85%;
}
.footer__about h3 {
  color: #29d9d5;
}
.footer__links h3 {
  color: #29d9d5;
}
.footer__links li {
  color: #fff;
  text-transform: uppercase;
}
.footer__links li a:hover {
  color: #29d9d5;
}
.footer__mail h3 {
  color: #29d9d5;
}
.footer__mail a {
  color: #fff;
  font-size: 18px;
}
.footer__mail a:hover {
  color: #29d9d5;
}
.footer__mail p {
  color: #fff;
  font-size: 18px;
  line-height: 34px;
  font-family: "Barlow", sans-serif;
}
.footer__mail span {
  display: block;
}

/*footer-css-end*/
/*entertainment-casino-css-start*/
.cuisine__part.casino {
  height: inherit;
  position: inherit;
  padding-left: 0px;
  max-width: 80%;
  margin: 0 auto;
}
.cuisine__part.casino h4 {
  color: #29d9d5;
}
.cuisine__part.casino p {
  color: #0C0B0B;
}

.cuisine__picture.casino {
  height: 250px;
  object-fit: cover;
  transition: all 0.3s linear;
}
.cuisine__picture.casino::after {
  background: rgba(0, 0, 0, 0.31) !important;
}
.cuisine__picture.casino img {
  height: 100%;
}

.cuisine-btn.casino {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.row.casino {
  border: 1px solid;
  padding: 20px 0;
  margin: 20px 0;
}

/*entertainment-casino-css-end*/


/*# sourceMappingURL=style.css.map */
