@import './variables';
@import './mixins';

li {
    list-style: none;
}

body {
    font-family: 'Barlow';
}

a,
button {
    font-family: 'Barlow';
}

p {
    color: $clr-black;
    font-size: 17px;
    line-height: 25px;

    @include mq(xl) {
        font-size: 16px;
        line-height: 19px;
    }
}


h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 75px;
    color: $clr-white;

    @include mq(lg) {
        font-size: 40px;
        line-height: 60px;
    }

    @include mq(sm) {
        font-size: 27px;
        line-height: 55px;
    }
}

h2 {
    font-size: 60px;
    line-height: 75px;
    font-weight: 500;

    @include mq(sm) {
        font-size: 25px;
        line-height: 40px;
    }
}

h3 {
    font-size: 25px;
    color: $clr-skyblue;
    line-height: 30px;

    @include mq(xl) {
        font-size: 19px;
        line-height: 30px;
    }
}